/* BEGIN Ubuntu Regular */
/* ubuntu-300 - cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('../Fonts/ubuntu-v19-cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Fonts/ubuntu-v19-cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/ubuntu-v19-cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Fonts/ubuntu-v19-cyrillic-300.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-regular - cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/ubuntu-v19-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Fonts/ubuntu-v19-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/ubuntu-v19-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Fonts/ubuntu-v19-cyrillic-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-500 - cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../Fonts/ubuntu-v19-cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Fonts/ubuntu-v19-cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/ubuntu-v19-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Fonts/ubuntu-v19-cyrillic-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-700 - cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../Fonts/ubuntu-v19-cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../Fonts/ubuntu-v19-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/ubuntu-v19-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../Fonts/ubuntu-v19-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../Fonts/ubuntu-v19-cyrillic-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

ul.ce-timeline-list::before {
    background: #CFCFCF !important;
   width: 2px;
}
.ce-timeline header {
    font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 94px;
	color: #000000;
    background-repeat: no-repeat;
    background-position: bottom right; 
    background-image: url('../Images/Group_23.png');
  	position: relative;
	width: 104%;
}
.ce-timeline ul.ce-timeline-list::before {
    width: 2px;
}
.ce-timeline ul.ce-timeline-list li {
    border: 0;
}
.ce-timeline ul.ce-timeline-list li::before {
    display:none;
}
.ce-timeline ul.ce-timeline-list li {
    padding:0;
    border: 0;
    border-image: none; 
    border-image-slice: 1;
    position: relative;
    margin: 0;
    clear: both;
    background-color: #fff;
    color: #333;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-left: 68px;
}
.ce-timeline ul.ce-timeline-list li img{
    max-width:inherit;
}
.ce-timeline ul.ce-timeline-list li p {
    padding-right: 1rem;
}
.ce-timeline ul.ce-timeline-list li.align-1 {
    #margin-right: 68px;
  
}
.ce-timeline ul.ce-timeline-list li.align-1 header{
    left: -78px;
	background-image: url('../Images/Group_24.png');
	text-align: right;
	width: 570px;
}
.ce-timeline ul.ce-timeline-list li.align-1 p {
    padding-right: 2rem;
}


 @media screen and (max-width: 1300px) {
   .ce-timeline ul.ce-timeline-list li header{
      width: auto;
    }
    .ce-timeline ul.ce-timeline-list li.align-1 header{
      left: 0;
      width: auto;
      background-position: bottom left;
    }
   .ce-timeline ul.ce-timeline-list li {
      margin-left:0;
   }
  }


/* END Ubuntu Regular */

@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;}
}	

.navbar {
  padding: 0.75rem 1rem; }

body {
  font-family: 'Ubuntu', sans-serif; }

h1, h2, h3, h4 {
  color: #000000; }

h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #000000;
  margin-bottom:0.5rem;  }

h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #000000; }

h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #000000; }
.information h2 {
  font-size: 1.5rem;
}
p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 144%;
  color: #000000; }
a {
  color:#B6322A;
  }
a:hover {
  color: #5f0e0a;
}	
a.ral  {
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-decoration-line: underline;
	text-transform: uppercase;
}
p.spec {
	text-align: center;
	color: #000000;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}
.modal {
	background: rgba(22, 20, 20, 0.5);
}
.modal .modal-dialog p.spec,
.modal .modal-dialog p{
	color: #000000;
	text-align:inherit;
}
.hh-slider .slider-slide p.mark,
p.mark,
.text-muted {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #B6322A !important;
	background: #FFFFFF;
	border-radius: 4px;
	padding: 4px 12px;
	text-transform: uppercase;
}
p.nobottom {
	margin-bottom:0;
}
.hh-slider .slider-slide .btn-info {
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #B6322A;
}
.hh-slider .slider-slide .btn-info:hover {
	color: #fff;
}
.hh-slider .slider-slide .btn-info:focus, 
.hh-slider .slider-slide .btn-info.focus {
    color: #fff;
    background-color: #810a0a;
    border-color: #810a0a;
    box-shadow: 0 0 0 0.2rem rgb(226 97 134 / 50%);
}
.btn {
  #padding: 18px 40px;
  padding: 13px 40px;
  left: 0px;
  background: #B6322A;
  border-radius: 4px; }
.btn.btn-light {
  padding: 4px 8px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #B3B3B3;  }

.btn-primary {
  color: #fff;
  background-color: #B6322A;
  border-color: #B6322A;
  text-transform: uppercase; }
  .btn-primary:hover {
    background-color: #5f0e0a;
    border-color: #5f0e0a; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #5f0e0a;
  border-color: #5f0e0a; }

.btn-secondary {
  background: #FDF5DA;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #B6322A;
  border: 0; }
  .btn-secondary:hover {
    background-color: #D2CEBD; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #d2cebd; }
  .bg-light {
    background-color: #ffffff !important;
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #5f0e0a;
    border-color: #5f0e0a;
    box-shadow: 0 0 0 0.2rem rgb(182 50 42 / 50%);
}

.btn-outline-primary {
    color: #B6322A;
    border-color: #B6322A;
	border:2px solid;
	background:inherit;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #5f0e0a;
    border-color:#5f0e0a;	}
.btn-outline-primary:focus, .btn-outline-primary.focus {
    background-color: #5f0e0a;
    border-color: #5f0e0a;
	background:inherit;
    box-shadow: 0 0 0 0.2rem rgb(182 50 42 / 50%);
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus	{
	box-shadow: 0 0 0 0.2rem rgb(182 50 42 / 50%);
}
.dropdown-menu.language {
  min-width: 3rem;
  padding: 0;
}
.dropdown-menu.language .dropdown-item{
  min-width: 3rem;
  padding: 4px 8px;
}	
input#ke_search_searchfield_submit,
input[type=submit]#ke_search_searchfield_submit {
	background: url(../Images/search.png) center center no-repeat;
	background-color: unset;
	width:28px;
	border-radius: 4px;
    border: 1px solid #B3B3B3;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-right: 0;
}
input#ke_search_searchfield_sword,
input#ke_search_sword{
	border-radius: 4px;
    border: 1px solid #B3B3B3;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left: 0;
	padding-left: 0;
	height: calc(1.5em + 0.675rem);
}
input#ke_search_searchfield_sword.form-control:focus,
input#ke_search_sword.form-control:focus {
    outline: 0;
    box-shadow: none;
}
.tx-kesearch-pi1 .btn {
    padding: 8px 40px
}
.card-button {
  padding: 1.25rem; }

.card-title {
  padding: 1.25rem; }

.card {
  border-radius: 0; }
  .card .btn-secondary {
    color: #000000; }

.redcard {
  border-radius: 0; }
  .redcard:nth-child(odd) .card {
    background: #B6322A;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15); }
  .redcard:nth-child(even) .card {
    background: #8F2A24;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15); }

.h-35 {
  height: 35% !important; }

.card-body h3,
.card-body h2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF; }

.card-body p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 137%;
  color: #FFFFFF; }
#homeoffer {
  scroll-margin-top: 80px;	
}
.offer-section,
.head-section {
  background: #B6322A; }
  .offer-section header {
    text-align: center;
    margin-bottom: 3rem; }
    .offer-section header h2 {
      background: #FFFFFF;
      border-radius: 4px;
      font-weight: bold;
      font-size: 72px;
      line-height: 83px;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #B6322A;
      display: inline-block;
      padding: 4px 32px; }
  .offer-section h3 {
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF; }
  .offer-section p {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF; }
	.offer-section p:nth-child(2) {
    margin-bottom: 1.75rem; }	
  .offer-section img {
    border: 4px solid #FFFFFF;
    box-sizing: border-box; }
.offer-section.filter img {
    border: 0; }	

section {
  margin: 2rem 0; }
section.head-section,
section.headerimage {
  margin: 0; }
section.lightblue {
  background: #E4E4E4; }

img {
  max-width: 100%;
  height: auto;}
.headerimage img {
  width: 100%;	
}
img-fluid {
  max-width: 100%;
  height: auto; }
.text-primary {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF !important;
	background: #B6322A;
	border-radius: 4px;
	padding: 4px 12px;
}
.section-default {
  padding: 4.25rem 0;
  background-color: #fff; }

.lightblue {
  background-color: #eff4fe;
  padding: 4.25rem 0; }

blockquote {
  background: url(../Images/kavichki.png) left top no-repeat;
  padding: 3rem 1.5rem; }
  blockquote p {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 32px;
    color: #000000; }

.frame-morepadding {
  padding: 2rem 4rem; }

.navbar-nav .nav-link {
  font-weight: 500;
  line-height: 24px;
  padding: 0rem 1rem; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  white-space: nowrap;  }

.navbar-light .navbar-nav .nav-link {
  color: black; }
.navbar-collapse {
   justify-content: space-between;
}
.rightbar {
  display:flex;
    
}
ol, ul {
  list-style: none; }

.btn-info {
  color: #B6322A;
  background-color: #ffffff;
  border-color: #ffffff; }
  .btn-info a {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #B6322A; }
  .btn-info:hover {
    color: #fff;
    background-color: #810a0a;
    border-color: #810a0a; }

.icon-section p.lead {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #000000;
  margin-bottom: 0; }
.lanbar {
  min-width:52px;
}
.lanbar span.letters{
  display:inline-block;
  box-sizing: border-box;
  text-transform:uppercase;
}
.frame-fleximages .ce-row {
  display:flex;	
  align-items: center;
}
.quality,
.quality p {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.12em;}
footer {
  background: #161414; 
  scroll-margin-top: 80px;}
footer label {
    display: none; }
footer form {
    padding: 2rem;
    background-color: #FDF5DA;
    width: 480px; }
footer form	.form-control {
    background-color: #FDF5DA;	
}
  footer .form-control {
    border: 0;
    border-bottom: 2px solid #4D1D1D; }
    footer .form-control .input {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #000000; }
  footer h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    color: #000000; }
  footer h3,
  footer p.spec  {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
	text-align: left;	}
  footer .btn-primary {
    align-items: center;
    padding: 18px 40px;
    left: 0px;
    background: #B6322A;
    border-radius: 4px;
    border: 0; }
    footer .btn-primary:hover {
      background: #5f0e0a; }
  footer .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }
  footer .btn-group {
    width: 100%; }
  footer .list-group-item {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0.15rem 0;
    background-color: inherit; }
    footer .list-group-item.active {
      color: #FFFFFF;
      background-color: inherit;
      border: 0; }
    footer .list-group-item a {
      color: #FFFFFF;
      background-color: inherit; }

.form-control {
  border-radius: 0; }

.form-control:focus {
  color: #495057;
  border-color: #4D1D1D;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(77, 29, 29, 0.25); }

textarea.form-control {
  height: 190px; }

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  left: 0;
  border-radius: 0;
  height: inherit;
  top: 150%;
  width: 90vw;
  transform: translate(calc(-115vw + 100%));
  border: 0;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 32px rgba(0, 0, 0, 0.25); }

.navbar-light .navbar-nav .nav-tabs .nav-link {
  color: black;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 32px rgba(0, 0, 0, 0.25);
  padding: 0.75rem 0;
  border-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0; }

.navbar-light .navbar-nav .nav-tabs .nav-link.active {
  background: inherit;
  box-shadow: none; }

.nav-tabs {
  border-bottom: 0; }

.hh-slider .slider-slide p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF; }

.hh-slider .slider-slide h2,
.hh-slider .slider-slide p.slider {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  #font-size: 72px;
  #line-height: 83px;
  font-size: 54px;
  line-height: 66px;
  color: #FFFFFF; }

.hh-slider .slider-slide .frame-red {
  background-color: #B6322A; }

.hh-slider .slider-slide .frame-blue {
  background-color: #2315a1; }
.hh-slider .slider-slide .btn-info {
  margin-top:1rem}	

.hh-slider .tns-nav {
  top: -40px;
  position: relative; }
  .hh-slider .tns-nav .tns-nav-active {
    background-color: #fff; }
  .hh-slider .tns-nav button {
    background-color: inherit;
    border: 3px solid #fff; }
.hh-slider .tns-nav button {
    #height: 16px;
    #width: 6px;	
}
.breadcrumb {
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
    background-color: inherit;
}
.breadcrumb-item {
	line-height:initial;
}
.breadcrumb-item a {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
}
.breadcrumb-item.active {
    color: #000000;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
}
##.slick-slider .slick-slide img {
##  filter: gray;
##  -webkit-filter: grayscale(1);
##  filter: grayscale(1);
##  mix-blend-mode: luminosity;
##  opacity: 0.5; }
.slick-sync .slick-list .slick-slide .marking{
	display: none;
}  
.slick-sync .fscongallerynew .clickwrapper img {
  padding: 8px 4px 4px;  }	

.slick-sync .draggable {
  box-shadow: inset 0px 4px 32px rgba(0, 0, 0, 0.25);}
.slick-sync .fscongallerynew .clickwrapper {
  position:relative;}
.slick-sync .fscongallerynew .clickwrapper img{
  filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));}  
.draggable .fscongallerynew .clickwrapper .diez{ 
  display:none;
  }
.slick-sync .fscongallerynew .clickwrapper .diez{
  position: absolute;
  z-index: 100;
  display: inline-block;
  top: 8px;
  background: #fff;
  left: 4px;
  padding:0.125rem;}

.fscongallerynew .clickwrapper {
  border:4px solid #fff;	}
.slick-sync .fscongallerynew .clickwrapper {
  border:none !important;	}
.fscongallerynew .clickwrapper .marking {
  text-align: center;
  position:relative; }
  .fscongallerynew .clickwrapper .marking .toola{
  height:20px;
  width:20px;
  position:absolute;
  top:19px;
  right:2px;
  cursor:pointer;
  background: url(../Images/ask.png) right center no-repeat;  }
  .fscongallerynew .clickwrapper .marking .toola .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top:-132px;
  left:0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.fscongallerynew .clickwrapper .marking .toola:hover  {
  width:200px;
}
.fscongallerynew .clickwrapper .marking .toola:hover .tooltiptext {
  visibility: visible;
}
  .fscongallerynew .clickwrapper .marking input[type="checkbox"] {
    display: none; }
  .fscongallerynew .clickwrapper .marking input[type="checkbox"] + label {
    padding: 1rem 0;
    margin-bottom: 0; }
  .fscongallerynew .clickwrapper .marking input[type="checkbox"] + label span {
    display: inline-block;
    padding-right: 30px;
    vertical-align: middle;
    background: url(../Images/markcheck.png) right top no-repeat;
    cursor: pointer;
	text-transform: uppercase;	}
  .fscongallerynew .clickwrapper .marking input[type="checkbox"]:checked + label span {
    background: url(../Images/delete-forever.svg) right top no-repeat;	}
.frame-type-form_formframework h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 1rem;}	
.frame-type-form_formframework .btn,
.frame-type-form_formframework  .btn-group	{
	width:100%;}
##.specification-section .frame-default.frame-type-form_formframework form div:nth-child(8) {
	display:none;}
##.specification-section .frame-default.frame-type-form_formframework form div:nth-child(8) .form-group label.control-label {
	display:none;}	
##.noinfo .frame-default.frame-type-form_formframework form div:nth-child(8) {
	display:none;}
##.noinfo .frame-default.frame-type-form_formframework form div:nth-child(8) .form-group label.control-label {
	display:none;}
.frame-type-html .myopenstyle::after {
	width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 0.3em dashed;
    border-top: 0px solid transparent;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;}	

.frame-type-form_formframework label.control-label {
	display:none;
}	
footer .frame-type-form_formframework div{
	color: #FFFFFF;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;}
	
footer p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 0; }

footer table.contenttable {
  margin-bottom: 2rem; }
  footer table.contenttable tr td {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem; }
    footer table.contenttable tr td a {
      color: #ffffff; }
      footer table.contenttable tr td a:hover {
        color: #ffffff; }

.tabove h4 {
  font-size: 1.125rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.5rem; }
  .tabove h4 a {
    font-size: 1.125rem;
    color: #000000;
    font-weight: 700;
    line-height: 1.5rem; }
.tabove ul.maincategories li a {
	font-size: 1.125rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.5rem; 
}
.tabove ul {
  padding-left: 0; }
.tabove ul li {
    color: black;
    font-weight: 500;
    line-height: 24px; }
.tabove ul li a {
     color: black;
     font-weight: 500;
     line-height: 24px; }

.specification-section ul {
   list-style: disc;}	
header.main {
	background: #FFFFFF;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);	}
.themap iframe {
#	filter: gray;
#-webkit-filter: grayscale(1);
#filter: grayscale(1);
#mix-blend-mode: luminosity;
#opacity: 0.5;
}	
div.slickdefault.slick-initialized.slick-slider button.slick-next {
	right: 5px !important;
}
div.slickdefault.slick-initialized.slick-slider button.slick-prev {
    left: 5px !important;
    z-index: 10;
}
footer hr {
	border:1px solid #B9B7B7;
	margin-top:0;
}
.modal-header {
	border-bottom: 0;
}
.modal-footer {
	border-top: 0;
}
.modal-content {
	background-color:#FDF5DA;
}
@media (max-width: 1210px) {
	.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;}
	.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 86vw;
	overflow-y: scroll;
    height: 65vh;
    overflow-x: hidden;}

}
@media screen and (max-width: 767px) {
  .dropdown-menu > li {
    display: block; } }

@media (max-width: 991.98px) {
.navbar-light .navbar-nav .nav-tabs .nav-link {
    font-size: 14px;
    line-height: 18px;
}	
  .navbar-nav li.nav-item {
    line-height: 44px;
    height: auto;
    z-index: 2; }
    .navbar-nav li.nav-item .nav-link {
    padding: 0.5rem 0; }
  .navbar-nav li.nav-item.active {
    z-index: 50; }
    .navbar-nav li.nav-item.active .nav-link {
      background: none; }
  .navbar-nav li.nav-item:not(:first-child) {
    margin-left: 0; }
  .navbar .navbar-brand {
    background-size: contain;
    width: 170px;
    height: 36px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 20; }
  .navbar-expand-lg .navbar-collapse {
    margin-left: 10px; }
	.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 2rem;
    width: 95vw;
	transform: translate(calc(-110vw + 100%));}
	
  .navbar-nav {
    display: unset;}
  .lanbar {
    min-width: 52px;}
  #form_kesearch_searchfield {
    width: 50%;}
  .frame .ce-gallery img {
    width: 100%;
    height: auto;}
	.frame .ce-gallery img {
    width: 100%;
    height: auto;}
   .ce-left .ce-gallery, .ce-column {
    float: none;}

header.main {
    margin-bottom: 20px;	}
h1,h2,h3 {
  font-size: 24px;
  line-height: 28px; }

p {
  font-size: 16px;
  line-height: 24px; }
.btn {
	font-size: 16px;}	

.card-body p {
  line-height: 24px; }
.offer-section header h2 {
      font-size: 36px;
      line-height: 42px; }
.offer-section h3 {
    font-size: 24px;
    line-height: 28px; }
.offer-section p {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF; }
	.offer-section p:nth-child(2) {
    margin-bottom: 1.75rem; }	
blockquote p {
    font-size: 24px;
    line-height: 24px;}	
.icon-section p.lead {
  font-size: 16px;
  line-height: 24px; }
.quality,
.quality p {
	font-size: 16px;
	line-height: 24px;
	text-align:center;}
.hh-slider .slider-slide p {
  font-size: 16px;
  line-height: 24px; }

.hh-slider .slider-slide h2 {
  font-size: 44px;
  line-height: 50px; }
.hh-slider .slider-slide h2,
.hh-slider .slider-slide p.slider {
  font-size: 44px;
  line-height: 50px; }
.ce-gallery figure {
   width: 100%;}
.offer-section .ce-column {
    margin-right: 0;}
#navbarsExample10.navbar-collapse {
   flex-direction: row-reverse;
}
footer .ce-left .ce-gallery, .ce-column {
    float: left;
}
footer .frame .ce-gallery img {
    width: unset;
    height: auto;
}	
	}
@media (max-width: 900px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 2rem;
    width: 90vw;
	transform: translate(calc(-100vw + 100%));}
}
@media (max-width: 767.98px) {
.frame-morepadding {
    padding: 2rem 1rem;}
.tabove h4 a {
    font-size: 16px;
}	
.box {
   display:none;}	
.offer-section header h2 {
    font-size: 44px;
    line-height: 44px;}
.hh-slider .slider-slide h2 {
    font-size: 40px;
    line-height: 40px;
}
.hh-slider .slider-slide h2,
.hh-slider .slider-slide p.slider {
    font-size: 40px;
    line-height: 40px; }
 .text-muted {
    font-size: 20px;
    line-height: 28px;
}	
  .frame .ce-gallery {
    width: 100%; }
    .frame .ce-gallery img {
      width: 100%;
      height: auto; }
.quality .frame .ce-gallery img {
      width: 128px;
      height: auto;
      margin:0 auto;	  }	  	  
  .ce-left .ce-gallery, .ce-column {
    float: none; }
  footer form {
    width: 100%; }
.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 2rem;
    width: 90vw;
    transform: translate(calc(-90vw + 84%));
}	}
@media (max-width: 640px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 2rem;
    width: 90vw;
    transform: translate(calc(-85vw + 84%));
}}
@media (max-width: 560px){
.slick-sync .fscongallerynew .clickwrapper .diez {
	padding: 0;
    font-size: 12px;}	
.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 2rem;
    width: 90vw;
    transform: translate(calc(-80vw + 84%));}
	.fscongallerynew .clickwrapper .marking input[type="checkbox"] + label span {
    font-size: 14px;}
}
@media (max-width: 470px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 2rem;
    width: 90vw;
    transform: translate(calc(-84vw + 84%));
}}
.tx-kesearch-pi1 .kesearch_searchbox .d-flex input#ke_search_sword {
  position: unset;
  top: unset;
  width: 100%;
  height: unset;
  padding: unset;
  padding-left: unset;
  margin: unset;
  display: unset;
}